* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    transition: ease-in-out 180ms;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 60%;
    background: #fff;
}

.cart-preview {
    position: fixed;
    right: 0;
    top: 0;
    max-width: 350px;
    width: 100%;
    height: 100vh;
    box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
}